* {
    margin: 0 ;
    padding: 0;
}



.wrapper {
    margin: 0 auto;
    width: 1060px;
    height: 950px;
}

.logo {
    margin: 50px 0 40px 50px;

}

header {

    height: 40px;
    width: 950px;
    background: linear-gradient(to top , #444343, #5e5e5e);
    margin: 0 50px 40px 50px;

}

li {
    list-style-type: none;
}

 header ul li {
    float: left;

}
header ul li:nth-child(1) {
    padding: 10px 25px 10px 25px;
}
header ul li:nth-child(2) {
    padding: 10px 55px 10px 25px;
}
header ul li:nth-child(3) {
    padding: 10px 50px 10px 25px;
}
header ul li:nth-child(4) {
    padding: 10px 55px 10px 50px;
}

 a {
     text-decoration: none;
 }
header ul li a {

    color: white;
    font-family: OpenSans Regular;
    font-size: 11pt;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

}

header ul li:hover {
    cursor: pointer;
    background-color: #484848;
   border-right: solid 1px #838383;
   border-left: solid 1px #838383;
}

section {

    margin: 0 0 0 50px;
}

.one {
    float: left;
    border: solid 1px #c8c8c8;

}
.one li{

    padding: 10px 44px 10px 10px;
    border-bottom: solid 1px #c8c8c8;
}

.one a {
    color: #a3a1a1;
    font-family: OpenSans Regular;
    font-size: 9pt;

}
section ul li:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    padding: 10px 33px 10px 21px;

}

section ul li:hover a {
    color: black;
}

.two {
    float: left;
    border: solid 1px #c8c8c8;
    margin: 0 0 0 50px;
    width: 725px;
    height: 400px;
}
.two img {
    padding: 34px 0 0 116px;

}

.three {
    float: right;
    width: 680px;
    height: 160px;
    margin: 40px 80px 5px 0;
    line-height: 25px;
}


footer {
    height: 40px;
    width: 950px;
    position: absolute;
    margin: 660px 10px 0px 50px;
    background: #e1e1e1;
}
footer ul li {
    float: left;
    padding: 10px 25px 10px 25px;
}

footer ul li a {

    color: #444444;
    font-family: Myriad Pro Regular;
    font-size: 11pt;
}

footer ul li:hover a {
    text-decoration: underline;
}

footer p {
    float: right;
    margin: 10px;
}

